<div class="page-wrapper" style="min-height: 341px;">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Post Section</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Posts</li>
        </ol>
      </div>
      <div class="col-md-6 col-4 align-self-center">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        <a routerLink="add-post" class="btn pull-right hidden-sm-down btn-success">
          <i class="mdi mdi-plus-circle"></i> Add New
        </a>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-block" *ngIf="gpClients?.length > 0">

            <div class="table-responsive">
              <div id="example23_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example23"></label></div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Balance</th>
                  <th class="text-nowrap">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let users of gpClients">
                  <td>{{users.$key}}</td>
                  <td>
                    {{users.firstName}}
                  </td>
                  <td>
                    {{users.lastName}}
                  </td>
                  <td>
                    {{users.email}}
                  </td>
                  <td>
                    {{users.phone}}
                  </td>
                  <td>
                    {{users.balance}}
                  </td>
                  <td class="text-nowrap">
                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 offset-4" *ngIf="gpClients?.length < 1">
        <!-- Card -->
        <div class="card">
          <!--<img class="card-img-top img-responsive" src="../assets/images/big/img1.jpg" alt="Card image cap">-->
          <div class="card-block">
            <h4 class="card-title">No user found yet.</h4>
            <p class="card-text">It seems like no data in databse or having issue with fetching of data.</p>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
